.header {
  font-size: 30px;
  font-weight: 700;
  margin: 5rem;
  margin-top: 6rem;
  margin-bottom: 0;
}

.para__btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.btn {
  background-color: black;
  color: white;
  width: 7.2rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
  margin-right: 5rem;
}

.para {
  width: 30rem;
  font-size: 14px;
  margin-left: 5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}
.packages__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.package__card {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.2);
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.message {
  font-size: 12px;
  width: 50.5ch;
  margin-left: 13px;
}

.country__price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 13px;
}

.packages__image {
  max-width: 22rem;
}

.stars {
  display: flex;
  gap: 5px;
}

.star-icon {
  width: 18px;
}

.booking__rating {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-left: 13px;
}

.booking__btn {
  background-color: black;
  color: white;
  height: 2rem;
  width: 7rem;
  border-radius: 1.5rem;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}

.tips__card {
  display: flex;
}
.tip__card {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 0.5rem;
}
.topic {
  font-size: 16px;
  font-weight: 500;
}

.tip__description {
  font-size: 20px;
  font-weight: 600;
  width: 21.5ch;
}
.gap {
  padding: 40px;
  margin: 20px;
}
.tip__image {
  width: fit-content;
  border-radius: 8px;
  object-fit: cover;
}
.read_btn{
  height: 2rem;
  width: 7rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-size: 14px;
  margin-top: 1rem;
}
.first_column{
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.first_column button{
  margin-top: 3rem;
}
.second_column {
  line-height: 25px;
  margin-top: 1rem;
}